$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import 'https://fonts.googleapis.com/css?family=Lora';


$headerColor: #e7d79e;
$lora: 'Lora', serif;
$swiss: 'swiss', sans-serif;
@font-face {
    font-family: swiss;
    src: url('../fonts/swiss.ttf');
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  color:#1b315d !important;
}

a:hover {
  text-decoration: none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

#menu-container {
  position:fixed;
  width:100vw;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  z-index:200;
  background-color:none;
  border: 6px solid #d2c079;
  padding:0 8px 8px 8px;
  border-top:none;
  ul {
    text-align:center;
  }
  .nav {
    background-color: #d2c079;
    text-align:center;

    li {
      padding:10px 0 10px 15px;
      display:inline-block;
      float:none;
      a {
        padding:0;
        padding-right:15px;
        border-right:1px solid white;
        border-radius:0px;
        display:block;
        color:white;
        font-family: swiss;
        text-rendering: optimizeLegibility;
        font-size: 10pt;
      }
      .active {
        background-color:rgba(255,255,255,0) !important;
      }
    }
    li:last-child a {
      border-right:0 !important;
    }
    li.active a {
      background-color:transparent;

    }
  }
}
/* Custom page header */
#header {
  position:relative;
  background-color: $headerColor;
  border-bottom: 1px solid #e5e5e5;
  height:800px;
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:368px;
  background-image: url('../images/logo.png');
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 100%, 0 66%);

  .boy-1 {
      background-image: url('../images/boy-1.png');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
      position:absolute;
      background-size:inherit;
      background-position:calc(50% + 400px) calc(100% - 40px);

  }
  .boy-2 {
      background-image: url('../images/boy-2.png');
      background-repeat:no-repeat;
      height:100%;
      width:100%;
      position:absolute;
      background-size:500px;
      background-position:calc(50% - 400px) calc(100% - 00px);

  }

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

#social {
  background:url('../images/decorator-1.png');
  background-repeat:no-repeat;
  background-position:50% 30%;
  background-size:10px;
  width:100%;
  height:200px;
  z-index:-1;
  position:absolute;
  margin-top:-55px;
}

#social-skills-bg{
  position:absolute;
  top:1000px;
  width:100%;
  height:600px;
  background-color: #f5eed6;

  -webkit-clip-path: polygon(15% 0%, 100% 40%, 100% 100%, 15% 60%);
  clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
}
#girl-1 {
  background-image:url('../images/girl-1.png');
  background-repeat:no-repeat;
  background-position:65% 10%;
  background-size:168px;
  width:50%;
  right:0;
  height:550px;
  position:absolute;
  top:1000px;
  z-index:100;
}
h1 {
  font-family: swiss, sans-serif;
  background:url('../images/underline.png');
  background-repeat:no-repeat;
  background-position:50% 100%;
  line-height:60px;
  font-size:36px;
}
#social-skills{
  margin-top:160px;
  text-align:center;

  position:relative;

  .container {
    margin-top:50px;
    font-family: $lora;

    #description{
      margin-top:40px;
      p {
        font-size:14px;
        text-align:justify;
      }
      p:after {
        content:"";
        display:inline-block;
        width:100%;
      }
      span {
        width:100%;
        text-align:center;
      }
    }
    #objectives {
      text-align:left;
      padding-left:30px;
      h4 {
        font-size:15px;
        font-weight: 700;
      }
      ul {
        margin-left:-20px;
        max-width:90%;
        font-size:14px;
      }
    }
  }
}

#classes-bg {
    position:absolute;
    background-color:#f5eed6;
    color:white;
    top:1900px;
    text-align:center;
    padding-top:450px;
    margin-top:-120px;
    width:100%;
    height:200px;
    -webkit-clip-path: polygon(50% 0%, 80% 0%, 80% 80%, 50% 50% );
}

#classes {
  background-color:#17305d;
  color:white;
  text-align:center;
  padding-top:250px;
  margin-top:-80px;
  background-image:url('../images/watch.png');
  background-repeat:no-repeat;
  background-size:600px;
  background-position:10% 010px;
  height:900px;
  -webkit-clip-path: polygon(0% 0%, 100% 30%, 100% 70%, 0% 100%);
  .container {
    z-index:101;
    h2 {
      font-family:$lora;
      font-size:21px;
      color:#bda853;
      font-weight:700;
    }
    ul {
      margin-top:40px;
      list-style: none;
      padding:0;
      li {
        display:inline-block;
        width:20%;
        border:2px solid #bda853;
        padding:2px;
        margin-left:20px;
        a {
          border: 1px solid #bda853;
          width:100%;
          height:100%;
          display:block;
          color: #bda853;
          h4 {
            display:inline-block;
            font-family: $lora;
            font-weight:700;
            font-size:28px;
            line-height: 30px;
            margin:0;
          }
          p {
            font-family: $lora;
            display:inline-block;
            margin:0;
          }
        }
      }
      li:first-child {
        margin-left:0;
      }
    }
    > h2 {
      margin-top:60px;
    }
    > p {
      color:#bda853;
      font-family: $lora;
      padding:0 15% 7% 15%;
      padding-top:20px;
    }
  }
}

#team {
  text-align:center;
  margin-top:-80px;
  ul {
    width:120%;
    padding:0;
    margin-left:-10%;
    li {
      display:inline-block;
      width:28%;
      padding: 0;
      img {
        max-height: 260px;

      }
    }
    li:first-child {
      text-align:left;
    }
    li:last-child {
      text-align:right;
    }
  }
  #team-member-description {
    border: 3px solid #beaa54;
    border-bottom: none;
    padding:10px 30px;
    height: 257px;
    overflow-y: auto;
    h2 {
      font-family:$lora, serif;
      font-weight:700;
      font-size:21px;
    }
    p {
      font-family:$lora,serif;
      font-weight:700;
    }
  }
}

#contact-border {

    position:absolute;
    background-color: #beaa54;
    height:800px;
    top:2600px;
    z-index:100;
    width:100%;
    color:#17305d;
    -webkit-clip-path: polygon(0 0, 50% 33%, 100% 0%, 100% 1%, 50% 34%, 0 1%);
    font-family: $lora,serif;
}

#contact {
  margin-top:-130px;
  position:relative;
  background-color: $headerColor;
  height:800px;
  padding-top:350px;
  color:#17305d;
  -webkit-clip-path: polygon(0 0, 50% 33%, 100% 0%, 100% 100%, 0 100%);
  font-family: $lora,serif;
  overflow:hidden;
  h2 {
    padding:0;
    margin:0;
    font-weight:700;
    font-size:22px;
    line-height:31px;
    display:inline-block;
    font-family:$lora;
  }
  button {
    color:$headerColor;
    background-color:#17305d;
    border:none;
    font-family:$lora;
    font-weight:700;
    font-size:20px;
    padding:1px 25px;
    float:right;
  }
  input,textarea {
    margin-top:15px;
    width:100%;
    font-family:$lora;
    font-weight:700;
    padding:10px;
  }
  input[type="textarea"] {
    height:100px;
  }
  #stamp {
    position:absolute;
    right:0;
    top:-200px;
    right:-200px;
    background:url("../images/stamp.png");
    height:200px;
    width:100%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position: 100% 0;
  }
  p {
    font-size:14px;
  }
}
.container {
  position:relative;
}
#left-member {

}
#center-member {

}
#right-member {

}
#back-arrow {
  background:url("../images/left-arrow.png");
  position:absolute;
  height:275px;
  background-position: 50% 55%;
  background-size:contain;
  background-repeat:no-repeat;
  width:35px;
  left:31%;
  cursor:pointer;
}
#front-arrow {
  background:url("../images/right-arrow.png");
  position:absolute;
  height:275px;
  background-position: 50% 55%;
  background-repeat:no-repeat;
  background-size:contain;
  width:35px;
  left:66%;
  cursor:pointer;
}
#map {
  height:300px;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color:rgba(255,255,255,0);
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: underline;
}
.nav > .active > a {
  color:#a29039 !important;
}
.decorator-infinite {
  background:url('../images/decorator-2.png');
  background-repeat:no-repeat;
  width:95px;
  height:31px;
  background-size:contain;
  margin-left:auto;
  margin-right:auto;
  margin-top:-30px;
}

@media screen and (max-width:890px) {
  .boy-1 {
    display:none;
  }

  #header {
    background-position: 50% 30%;
    .boy-2 {
      background-position: 50% 120%;
    }
  }
  #girl-1 {
    display:none;
  }

  .decorator-infinite {
    margin-top:0;
  }
  #social-skills-bg {
    height:900px;
    -webkit-clip-path: polygon(15% 10%, 100% 35%, 100% 100%, 15% 100%);
  }

  #social-skills .container {
    padding-bottom:50px;
  }
  #contact-border{
    top:2850px;
  }
  #menu-container {
    display:none;
  }
  #team {
    ul {
      width:100%;
    }
  }
  .header {
    padding:0;
  }
  #team ul {
    margin-left:0;
    li {
      width:100%;
    }
  }
  #contact #stamp {
    right:0;
  }
  #contact-title {
    display:inline-block;

  }
  #contact h2 {
    display:none;
  }
  #contact {
    -webkit-clip-path: polygon(0 10%, 50% 33%, 100% 10%, 100% 100%, 0 100%);
    height:900px;
  }
  #contact-border {
    display:none;
  }

  #mobile-menu {
    position:fixed;
    width: 100%;
    background: rgba(0,0,0,0);
    height: 50px;
    line-height: 50px;
    z-index:101;
  }

  .hamburger {
    margin-top:5px;

  border:3px solid #bda853;
    background: rgba(255,255,255,0.6);
    position: fixed;
    left:calc(50% - 24px);
    line-height: 45px;
    padding: 0px 15px 0px 15px;
    color: #bda853;
    font-size: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
  }

  #mobile-menu-expanded {
    z-index: 1000000;
    font-weight: bold;
    font-size: 0.8em;
    width: 100%;
    height:60%;
    background: rgba(20,20,20,0.4);
    position: fixed;
    text-align: center;
  }

  #mobile-menu-expanded ul {
    margin: 0;
    height:100%;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
  }

  #mobile-menu-expanded li {
    display: block;
    padding: 15px 0 15px 0;
    height:20%;
    font-size:25px;
    font-family: $lora, serif;
    font-weight:700;
    border-bottom: #1d1f20 1px solid;
  }

  #mobile-menu-expanded li:hover {
    display: block;
    background: rgba(20,20,20,0.9);
    padding: 15px 0 15px 0;
    border-bottom: #1d1f20 1px solid;
  }

  #mobile-menu-expanded ul li a {
    text-decoration: none;
    margin: 0px;
    color: #fff;
    width:100%;
    height:100%;
    display:block;
  }

  #mobile-menu-expanded ul li a:hover {
    color: #fff;
    text-decoration: none;
  }

  #mobile-menu-expanded a {
    text-decoration: none;
    color: white;
  }

  #mobile-menu-expanded a:hover {
    text-decoration: none;
    color: white;
  }

  .glyphicon-home {
    color: white;
    font-size: 1.5em;
    margin-top: 5px;
    margin: 0 auto;
  }

  #background-menu {
    width:100vh;
    height:100vh;
    z-index:1;
    background-color:rgba(0,0,0,0.5);
    position:fixed;
  }

}
@media screen and (min-width:890px){
  #contact-title {
    display:none;
  }
  #mobile-menu {
    display:none;
  }
}
@media screen and (max-width: 1200px){
  #right-member {
    img {
      display:none;
    }
  }
  #left-member {
    img {
      display: none;
    }
  }
  #back-arrow {
    left:20%;
  }
  #front-arrow {
    left:calc(80% - 35px);
  }

  #contact .container .col-md-6:first-child form,  #contact .container .col-md-6:first-child button  {
    display:none;
  }
}

@media screen and (max-width:1370px) {
  #girl-1 {
    background-position:75% 10%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header {
    padding-left: 0;
    padding-right: 0;
  }
}

// overwrite the default container or desktop resolutions
@media screen and (min-width: 1140px) {
  .container {
    max-width:950px;
  }
}
